
  <ul  class="imgAndStory" ng-repeat="Files in workCtrl.boards">
  <!-- template -->
    <li class="projectCont" >
      <img ng-src="img\0\{{Files.full}}"  id="colA1" class="img-responsive" alt="imaga example">
    </li>
    <li id="tele"><h2>{{Files.title}}</h2></li>
    <li id="colC1" ng-click="scrollTo(Files.id)"></li>
    <li id="colB1" class="text-center">
      <a href="{{Files.link}}">
        <p>{{Files.description}} <br>
          <span id="goColB">Click to watch on site</span>
        </p>
      </a>
    </li>

  </ul>
