<!DOCTYPE html>
<html lang="en" ng-app="portgolio">
<head>
  <meta charset="UTF-8">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- style -->
  <link href="styles\style.css" rel="stylesheet">

  <!-- Angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="js\app.js" type="text/javascript">

  </script>

  </script>

  <nav>

    <div id="bar" class="">
      <a href="#"><div id="logo" class="text-center"><h2 id="logoD">D</h2></div></a>
      <a href="#"><img class="arr text-center" src="img\barLines.png" alt="Bar lines" ng-click="showme=!showme"></a>
    </div>

    <div id="bar" class="" ng-show="showme">
      <a href="#"><div id="logo" class="text-center"><h2 id="logoD">D</h2></div></a>
      <a href="#"><img class="arr text-center" src="img\crr.png" alt="icon1"></a>
      <a href="#"><img class="arr text-center" src="img\linkedinLogo.png" alt="icon2"></a>
      <a href="#"><img class="arr text-center" src="img\github.png" alt="icon2"></a>
      <a href="#"><img class="arr text-center" src="img\brr.png" alt="icon2"></a>
      <a href="#"><img class="arr text-center" src="img\arr.png" alt="@"></a>
      <a href="#"><img class="arr text-center" src="img\twitterLogo.png" alt="icon2"></a>
      <h3 id="logoX" class="text-center" ng-click="showme=!showme">X</h3>

    </div>

  </nav>

  <section>

    <div class="container-fluid ">
      <ul id="ProjectCont1">
        <ul class="imgAndStory">
          <li id="colA1" class="projectCont"><h2 class="tele">Blog</h2></li>
          <li id="colB1" class="storyCont text-center"><p>Img Proyecto DFM <br>Lorem ipsum dolor. <br>Lorem ipsum dolor.</p></li>
        </ul>
        <ul class="imgAndStory">
          <li id="colA1" class="projectCont"><h2 class="tele">Binnacle</h2></li>
          <li id="colB1" class="storyCont text-center"><p>Img Proyecto DFM <br>Lorem ipsum dolor. <br>Lorem ipsum dolor.</p></li>
        </ul>
        <ul class="imgAndStory">
          <li id="colA1" class="projectCont"><h2 class="tele">App "ToDo"</h2></li>
          <li id="colB1" class="storyCont text-center"><p>Img Proyecto DFM <br>Lorem ipsum dolor. <br>Lorem ipsum dolor.</p></li>
        </ul>
        <ul class="imgAndStory">
          <li id="colA1" class="projectCont"><h2 class="tele">Ejercicio Web #01</h2></li>
          <li id="colB1" class="storyCont text-center"><p>Img Proyecto DFM <br>Lorem ipsum dolor. <br>Lorem ipsum dolor.</p></li>
        </ul>
        <ul class="imgAndStory">
          <li id="colA1" class="projectCont"><h2 class="tele">Ejercicio Web #02</h2></li>
          <li id="colB1" class="storyCont text-center"><p>Img Proyecto DFM <br>Lorem ipsum dolor. <br>Lorem ipsum dolor.</p></li>
        </ul>
        <ul class="imgAndStory">
          <li id="colA1" class="projectCont"><h2 class="tele">One Web per Day</h2></li>
          <li id="colB1" class="storyCont text-center"><p>Img Proyecto DFM <br>Lorem ipsum dolor. <br>Lorem ipsum dolor.</p></li>
        </ul>
      </ul>

    </div>



  </section>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
