@media (min-width: 320px) {

  #legal p{
    padding: 15px 0 20px 30px;
  }
  #bar{
    display: none;
  }
}
@media (min-width: 667px){
  #bar{
    display: block;
  }
}
@media (min-width: 1430px){
  nav, section, footer{
    width: 1430px;
    margin-left: auto;
    margin-right: auto;
  }
}
