

/*  1-  Global:                           */
/*  2-  bar nav:                          */
/*  3-  section - boards:                 */
/*  4-  img  effect:                      */
/*  5-  footer:                           */
/*  6-  horizontal scroll:                */


/* 1 =========================================================================== */
/* 1 ================================= GLOBAL ================================== */

*{
  box-sizing: 0!important;
  font-family: 'Roboto', sans-serif;
}
a{
  color: #333333;
}
a:hover{
  color: #cbcbcb;
  text-decoration: none;
}
a:visited {
  text-decoration: none!important;
  color: none!important;
  background: none!important;
}
body{
  background-image: linear-gradient(rgb(50, 50, 50), rgb(34, 34, 34));
  font-size: 2px!important;
  height: auto;
  padding: 0!important;
  max-width: 1233px!important;
  margin: 0 auto !important;
  float: none !important;
}
body p{
  font-size: 14px;
}
button{
  border: none!important;
  padding: 0!important;
}
footer{
  max-width: 1233px!important;
  margin: 0 auto !important;
  float: none !important;
}
h2{
  font-size: 32px;
  font-weight: bolder;
  padding: 0!important;
  margin: 0!important;
}
h3{
  font-weight: bolder;
  padding: 0!important;
  margin: 6px 0!important;
}
li{
  margin: 0!important;
  padding: 0!important;
  list-style: none!important;
}
p{
  margin: 20px 0;
}
ul{
  margin: 0!important;
  padding: 0!important;
}
.container{
  padding: 0!important;
  margin: 0!important;
}
.container-fluid {
  padding: 0 !important;
  margin: 0!important;
}


/* 2 =========================================================================== */
/* 2 ================================ BAR NAV ================================== */
#imgMobile{
  display: none;
}
#mobileDisplay{
  display: none;
}
#bar{
  background-image: linear-gradient(rgba(36, 35, 35, 0.85), rgba(68, 68, 68, 0.85));
  height: 100%;
  margin: 0 0 0 95%;
  position: fixed;
  width: 5%;
  z-index: 1000;
}
.icon-B{
  border: 1px solid transparent;
  border-bottom-color: #393939;
  margin: 7px 6px 0 0;
  padding: 10px;
  width: 50px;
  height: 50px;
}
.icon-resume{
  border: 1px solid transparent;
  border-bottom-color: #393939;
  margin: 7px 6px 0 0;
  padding: 12px;
  width: 50px;
  height: auto;
}

/* 3 =========================================================================== */
/* 3 ====================== S E C T I O N - B O A R D S ======================== */
#demo{
  margin: 0 4% 0 0;
}
#closeTap{
  padding: 5px 35px!important;
  cursor: pointer;
}
#dataBarArt-A{
  background-color: rgba(4, 134, 177, 0.8);
  padding: 25px 20px 0 40px;
  margin: 35px 0 0 0;
  height: 584px;
  width: 320px;
}
#dataBarArt-B{
  /*background-color: rgba(233, 58, 58, 0.8);*/
  margin: 35px 0;
  padding: 0;
}
#showcase{
  color: #d2d2d2;
  margin: 70px 0;
  padding: 0;
  width: 100%;
}
/* ========== Style sheet for demo image ========== */
#projectInf{
  height: 584px;
  width: 960px;;
}
#projectInf img{
  /*overflow: scroll;*/
  width: 960px;
}
#demo .mCustomScrollBox{
  /*margin-right: 160px*/
}
.showcase .horizontal-images.content{
	height: 740px;
	width: 1280px;
	padding: 0;
}
#projectInf .mCustomScrollBox{
  max-width: none!important;
  width: 960px!important;
}
#projectInf .mCSB_container{
  width: 100%;
}
#projectInf .mCSB_scrollTools .mCSB_draggerRail{
  width: 5px
}




.imgAndStory{
  display: inline-block;
}

/* 4 =========================================================================== */
/* 4 ============================== img  effect ================================ */

#colA1{
  position: absolute;
}
#colB1{
  background-color: rgba(70, 70, 70, 0.45);
  position: relative;
}
#colB1 p{
  color: rgba(70, 70, 70, 0.0);
  margin: 0;
  font-size: 16px;
  padding: 25px 15px;
  position: relative;
  height: 150px;
  width: 320px;
}
#colC1{
  background-color: rgba(70, 70, 70, 0.45);
  height: 550px;
  position: relative;
  width: 321px
}
#colC1:hover{
  background-color: rgba(70, 70, 70, 0.0);
  cursor: pointer;
}
#colC1:hover + #tele h2{
  background-color: rgba(233, 58, 58, 0.8)!important;
  color: #ffffff;
}
#colC1:hover + #colB1 p{
  background-color: rgba(0, 153, 204, 0.7);
  color: #ffffff;
}
#colB1 p:hover{
  background-color: rgba(233, 58, 58, 0.8);
  color: #ffffff;
}
#colB1 p span{
  color: rgba(0, 153, 204, 0.0);
}
#colB1:hover span{
  color: #ffffff;
}
#tele{
  color: #ffffff;
  background-color: rgba(0, 153, 204, 0.7);
  font-weight: bolder;
  margin: 0px!important;
  padding: 12px 25px 9px 25px!important;
  position: relative;
  width: 320px;
}
#showcaseLinks p{
  margin: 0!important;
}
#showcaseLinks h4{
  padding: 0 10px!important;
  font-weight: bold;
}
#showcaseLinks a{
  color: #ffffff!important;
}
#showcaseLinks a:hover{
  color: rgb(233, 58, 58)!important;
}
.showcaseLinksGO{
  padding: 0px 0;
  display: inline-block;
}

/* 5 =========================================================================== */
/* 5 ============================== F O O T E R ================================ */

#legal a{
  color: #777777;
}
#legal a:hover{
  color: rgb(0, 153, 204);
}
#legal p{
  color: #777777;
  font-size: 16px;
  padding: 30px 0 50px 50px;
  margin: 0!important;
}
#lineDecoration{
  border: 1px solid transparent;
  border-top-color: #373737;
  margin: 0 30px;
  max-width: 1233px!important;
  margin: 0 auto !important;
  float: none !important;
}


#goTop{
  cursor: pointer;
}

/* 6 =========================================================================== */
/* 6 =========================== horizontal Scroll ============================= */



/* ============================================================================= */
