/* ========== / ========== / ========== / G L O B A L / ========== / ========== */
*{
  box-sizing: 0!important;
}
a{
  color: #333333;
}
a:hover{
  color: #cbcbcb;
  text-decoration: none;
}
body{
  background-color: #2f2f2f;
  /*font-size: 0!important;*/
  height: 100%;
  margin: 0!important;
  padding: 0!important;
  /*width: 1980px;*/
  width: 2000px;

}
h2{
  font-size: 32px;
  font-weight: bolder;
  padding: 0!important;
  margin: 0!important;
}
h3{
  font-weight: bolder;
  padding: 0!important;
  margin: 6px 0!important;
}
li{
  margin: 0!important;
  padding: 0!important;
  list-style: none!important;
}
p{
  margin: 20px 0;
}
ul{
  margin: 0!important;
  padding: 0!important;
}
.container-fluid {
  padding: 0 !important;
  margin: 0!important;
}
/* ========== / ========== / ========== /  BAR NAV  / ========== / ========== */
.icons-A{
  margin: 0 6px 0 0;
  padding: 10px;
  width: 50px;
  height: 50px;
}
.icon-B{
  border: 1px solid transparent;
  border-bottom-color: #9f9f9f;
  margin: 0 6px 0 0;
  padding: 10px;
  width: 50px;
  height: 50px;
}
#logo{
  background: rgba(70, 70, 70, 0.7);
  color: #0099CC;
  padding: 13px 9px 0 0!important;
  height: 55px;
  width: 60px;
}
#logoX{
  background: rgba(70, 70, 70, 0.7);
  color: #0099CC;
  height: 55px;
  padding: 13px 9px 0 0!important;

  width: 60px;
}
#logoX:hover{
  color: #EA504E;
  cursor: pointer;
}
#bar{
  background-image: linear-gradient(rgba(36, 35, 35, 0.85), rgba(68, 68, 68, 0.85));
  height: 100%;
  margin: 0 0 0 96.2%;
  position: fixed;
  width: 60px;
  z-index: 1000;
}
/* ========== / ========== / ========== / SECTION / ========== / ========== */
#showcase{
  /*background-color: rgba(36, 35, 35, 0.85);*/
  background-color: rgba(148, 26, 26, 0.85);

  height: 500px;
  margin: -715px 10%;
  position: fixed;
  width: 80%;
}
#projectInf{
  background: pink;
  height: 340px;
  overflow-y:scroll;
}
#barArticle{
  background-color: yellow;
  height: 40px;
}
#closeTap{
  cursor: pointer;
}
.dataBarArt{
  padding: 80px;
  height: 440px;
}
#dataBarArt-A{
  margin-top: 15px;
  background-color: rgba(132, 168, 43, 0.7);
}
#dataBarArt-B{
  margin-top: 15px;
  background-color: rgba(9, 72, 167, 0.7);
}
.imgAndStory{
  display: inline-block;
}
.projectCont{
  height: 650px;
  margin: 0;
  padding: 0;
  width: 320px;
}
.storyCont{
  color: rgba(255, 255, 255, 0.0);
  display: inline-block;
  height: 100%;
  width: 320pX;
}
.storyCont p{
  height: 120px;
  padding: 15px 0;
  margin: 0;
}
.storyCont p:hover{
  background: rgba(70, 70, 70, 0.7);
  color: #d2d2d2;
  font-size: 14px!important;
}
.tele{
  color: #cccccc;
  background-color: rgba(0, 153, 204, 0.7);
  font-weight: bolder;
  margin: 0px!important;
  padding: 12px 25px 8px 25px!important;
  width: 320px;
  z-index: 5;
}
#colA1{
  background-image: url("http://dfm212.github.io/portfolio//img/imgDemo1.jpg");
  background-size: 320px 650px;;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#colB1{
  background-image: url("http://dfm212.github.io/portfolio//img/imgDemoButton1.jpg");
  background-size: 320px 150px;
}
#colA2{
  background-image: url("http://dfm212.github.io/portfolio//img/imgDemo2.jpg");
  background-size: 320px 650px;;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#colB2{
  background-image: url("http://dfm212.github.io/portfolio//img/imgDemoButton2.jpg");
  background-size: 320px 150px;
}
#colA3{
  background-image: url("http://dfm212.github.io/portfolio//img/imgDemo3.jpg");
  background-size: 320px 650px;;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#colB3{
  background-image: url("http://dfm212.github.io/portfolio//img/imgDemoButton3.jpg");
  background-size: 320px 150px;
}
#colA4{
  background-image: url("http://dfm212.github.io/portfolio/img/imgDemoTop.jpg");
  background-size: 320px 650px;;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#colB4{
  background-image: url("http://dfm212.github.io/portfolio/img/imgDemoButton.jpg");
  background-size: 320px 150px;
}
#colA1:hover + .storyCont p{
  background: rgba(70, 70, 70, 0.7);
  color: #d2d2d2;
}
#colA2:hover + .storyCont p{
  background: rgba(70, 70, 70, 0.7);
  color: #d2d2d2;
}
#colA3:hover + .storyCont p{
  background: rgba(70, 70, 70, 0.7);
  color: #d2d2d2;
}
#colA4:hover + .storyCont p{
  background: rgba(70, 70, 70, 0.7);
  color: #d2d2d2;
}
